@charset "UTF-8";
/* CSS Document */

body {
	margin: 0px;
	padding: 0px;
	background-image: url(../images/leather.jpg);
	background-repeat: repeat;
	text-align: center;
}

#wrapper {
	margin: 0 auto;
	padding: 0px;
	width: 960px;
	text-align: center;
	background-image: url(../images/parchment.jpg);
	background-repeat: repeat;
	position: relative;
	z-index: 10;
}

/*Header*/


#header {
	margin: 0 auto;
	padding: 0px;
	width: 960px;
	height: 165px;
	text-align: center;
	background-image: url(../images/leatherHeader.jpg);
	background-repeat: no-repeat;
	position: fixed;
	z-index: 10;
	border-radius: 0px 0px 20px 20px;
	-moz-border-radius: 0px 0px 20px 20px;
	-webkit-border-radius: 0px 0px 20px 20px;
}

#logo {
	margin: 0px;
	float: left;
}

/*Navigation*/



#leftNav {
	margin-top: 50px;
	margin-left: 60px;
	margin-right: 30px;
	list-style-type: none;
	float: left;
}

#leftNav a {
	color: #C4ADA2;
	text-decoration: none;
	background-color: none;
	margin: 0px;
}

#leftNav li {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 120%;
	padding: 0px;
	line-height: 160%;
	letter-spacing: .5em;
	text-align: right;

}

#leftNav a:hover, body#home #Home a, body#landscape #Landscape a
{
	color:#FFF;
}


#rightNav {
	margin-top: 50px;
	margin-left: 0px;
	margin-right: 70px;
	list-style-type: none;
	float: left;

}

#rightNav a {
	color: #C4ADA2;
	text-decoration: none;
	background-color: none;
	margin: 0px;
}

#rightNav li {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 120%;
	padding: 0px;
	line-height: 160%;
	letter-spacing: .5em;
	text-align: left;

}

#rightNav a:hover, body#plants #Plants a, body#other #Other a, body#contact #Contact a
{
	color:#FFF;
}

/*Quote*/


#quote {
	margin: 0 auto;
	padding-top: 160px;
	width: 100%;
	height: 140px;
	font-family: 'Libre Baskerville', serif;
	font-style: italic;
	font-weight: 400;
	color: #FFF;
	font-size: 120%;
	line-height: 180%;
	background-image: url(../images/oldPhotoTop.png);
	background-repeat: no-repeat;
	text-align: center;
		position: relative;
	z-index: 9;
}

/*Gallery Content*/


#galleryContent {
	margin: 0 auto;
	margin-top: 50px;
	margin-left: -30px;
	padding-top: 50px;
	padding-left: 50px;
	width: 960px;
	height: 300px;
	background-image: url(../images/oldPhotoBottom.png);
	background-repeat: no-repeat;
	text-align: center;
	position: relative;
	z-index: 9;
	
}

#galleryText {
	margin: 0px;
	padding-right: 100px;
}

.galleryText {
	font-family: 'Libre Baskerville', serif;
	font-weight: 400;
	font-size: 120%;
	color: rgba(245, 231, 213, 0.8);
	line-height: 170%;
	text-align: left;
}

.galleryTitle {
	font-family: 'Libre Baskerville', serif;
	font-weight: 700;
	font-size: 180%;
	line-height: 170%;
	color: rgba(245, 231, 213, 0.8);
	text-align: left;
	letter-spacing: .1em;
}

#slideshow {
	margin: 0px;
	position: relative;
	z-index: 8;
}

/*Misc Page Content Divs*/

#mainContent {
	margin: 0 auto;
	margin-top: -140px;
	width: 900px;
	padding-top: 100px;
	position: relative;
	z-index: 8;

}


#homeContent {
	text-align: left;
	margin: 0px;
	padding: 20px;
	
}

/*Contact Content*/


#contactContent {
	text-align: left;
	margin: 0px;
	padding: 20px;
	
}

#sidebar {
	margin-top: 50px;
	margin-right: 20px;
	width: 250px;
	height: 500px;
	float: left;
	text-align: left;
}

#form-div {
	height: 400px;
	border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
	-moz-box-shadow: inset 0 0 20px black;
	-webkit-box-shadow: inset 0 0 20px black;
	box-shadow:inset 0 0 20px black;
	padding: 40px;
	width: 500px;
	margin-left: 275px;
	background-image: url(../images/leather.gif);
}

input:hover, textarea:hover,
input:focus, textarea:focus { 
-moz-box-shadow:0 0 8px white;
	-webkit-box-shadow:0 0 8px white;
	box-shadow:0 0 8px white;
}

.submit input:hover {
	color: #FFFFFF;
}

input, textarea {
	margin-left: 20px;
	padding: 8px;
	font-family: 'Josefin Sans', sans-serif;;
	width: 300px;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #FFFBE7), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;/*0.1 actually means 10 %*/
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	font-size: 90%;
	color: #630;
	float: right;
 }

textarea {
 width: 300px;
 max-width: 400px;
 height: 150px;
 line-height: 150%;
 }

.form label {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 120%;
	margin-left: 10px;
	margin-right: 50px;
	color: #FFFFFF;
 }

.submit input {
	width: 215px;
	margin-top: 25px;
	margin-left: 10px;
	padding: 10px 14px;
	background: #030;
	font-size: 150%;
	color: rgba(257, 257, 257, 0.7);
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-box-shadow: inset 0 0 20px #00FF33;
	-webkit-box-shadow: inset 0 0 20px #00FF33;
	box-shadow:inset 0 0 20px #00FF33;
	cursor: pointer;

 }

/*Footer*/


#footer {
	margin-: 0 auto;
	width: 100%;
	height: 100px;
	position: relative;
	z-index: 9;
}

.footer {
	font-family: 'Libre Baskerville', serif;
	font-weight: 400;
	font-size: 50%;
	line-height: 80%;
	color: #562506;
}

/*Type*/

p {
	font-family: 'Libre Baskerville', serif;
	font-weight: 400;
	font-size: 120%;
	line-height: 170%;
	
}

h1 {
	font-family: 'Libre Baskerville', serif;
	font-weight: 700;
	font-size: 180%;
	line-height: 170%;
	color: #4F2204;
}


#text {
	font-family: 'Libre Baskerville', serif;
	font-weight: 400;
	font-size: 120%;
	line-height: 170%;
}

#title {
	font-family: 'Libre Baskerville', serif;
	font-weight: 700;
	font-size: 180%;
	line-height: 170%;
	color: #4F2204;
}
	




